.highlight-text{
    color: white;
    padding: 0.6rem;
    background: linear-gradient(90deg, #e65100 18%, #e65100 63%, #e65100 100%)
}
.no-img{
    background:linear-gradient(90deg, #e65100 18%, #e65100 63%, #e65100 100%);
}
